.categoryDiv {
  width: 15%;
  height:100%;
  text-align: left;
  color: #2F8F9D;
}

.categoryHeadDiv {
  padding-bottom: 0.4rem;;
}

.categoryButonsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.catText{
  width: 100%;
  border: 0.2rem solid #2F8F9D;
  border-radius: 2rem;
  color:white;
  padding: 0.5rem 0;
  margin-bottom: 1vh;
  font-size: 1.2rem;
  background-color: #2F8F9D;
}
.catText:hover {
  color: #2F8F9D;
  background-color: white
}

.catTextSelected{
  color:#2F8F9D;
  background-color: white;
  width: 100%;
  border: 0.2rem solid #2F8F9D;
  border-radius: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 1vh;
  font-size: 1.2rem;
}


@media only screen and (max-width:768px){
  .categoryDiv {
    position:fixed;
    bottom: 7vh;
    height: 18vh;
    width: 100%;
    padding: 0;
    color: #2F8F9D;
    background-color: white;
    z-index: 5;
  }

  .categoryHeadDiv {
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }

  .categoryButonsDiv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catText{
    width: 48%;
    padding: 0.3rem 0;
    font-size: 1rem;
  }

  .catTextSelected{
    width: 48%;
    padding: 0.3rem 0;
    font-size: 1rem;
  }

  .catText:hover {
    color: white;
    background-color: #2F8F9D;
  }
}