.categoryDiv {
  width: 15%;
  height: 92.5vh;
  padding: 1rem 0;
  float: left;
  text-align: left;
  color: #2F8F9D;
}


.categoryHeadDiv {
  padding-bottom: 0.4rem;;
}

.categoryButonsDiv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.categoryItem {
  text-align: center;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border: 0.2rem solid #2F8F9D;
  border-radius: 2rem;
  color:#2F8F9D;
  font-size: 1.2rem;
  cursor: pointer;
}

.categoryItem:hover {
  background-color: #2F8F9D;
  color: #ffffff;
}

.categoryItemSelected {
  text-align: center;
  background-color: #2F8F9D;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border: 0.2rem solid #2F8F9D;
  border-radius: 2rem;
  color:#ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

@media only screen and (max-width:768px){
  .categoryDiv {
    position: fixed;
    bottom: 3.5rem;
    height: auto;
    width: 100%;
    padding: 0.5rem 0;
    text-align: left;
    float: left;
    color: #2F8F9D;
    background-color: white;
    z-index: 5;
  }
  
  .categoryHeadDiv {
    padding-bottom: 0.4rem;;
    font-size: 0.8rem;
    padding-left: 0.5rem;
  }
  
  .categoryButonsDiv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .categoryItem {
    float: left;
    text-align: center;
    padding: 0.3rem;
    width: 48%;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    border: 0.2rem solid #2F8F9D;
    border-radius: 2rem;
    color:#2F8F9D;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  .categoryItem:hover {
    background-color: #2F8F9D;
    color: #ffffff;
  }
  
  .categoryItemSelected {
    margin-left: 0.3rem;
    float: left;
    text-align: center;
    background-color: #2F8F9D;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border: 0.2rem solid #2F8F9D;
    border-radius: 2rem;
    color:#ffffff;
    font-size: 0.8rem;
    cursor: pointer;
    width: 48%;
  }
}