@font-face {
  font-family: 'Inter';
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format("truetype");
  font-weight: bold;
  font-size: normal;
}
