html,
body {
  font-family: Inter, sans-serif;
  height: 100vh;
}
#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.info {
  color: red;
  position: fixed;
  bottom: 0px;
}