.headerDiv {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #2F8F9D;
}

.logo {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

.searchDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}

.productCard{
  height: 8rem;
  display: flex;
  flex-direction:row;
  margin: 0.5rem;
  border: 0.1rem solid #EBEBED;
  padding: 0  0.3rem 0.3rem 0.3rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  background-color: white;
}


.productLeft{
  width: 30%;
}

.productRight{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.productimage{
  object-fit:fill;
  width: auto;
  max-width: 100%;
  height:none;
  max-height: 100%;
}

.productTitle{
  font-size: 1.4rem;
  padding-top: 0.8rem;
  font-weight: bold;
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
  text-transform: capitalize;
}

.productOwner{
  color: #2F8F9D;
  padding-top: 0.2rem;
  font-size: 1rem;
}

.productPrice{
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.6rem;
}

.productAdress{
  padding-top: 0.2rem;
  font-size: 1rem;
}

.searchInput{
  display: flex;
  flex-direction: row;
}

.searchBox {
  text-align: center;
  color: black;
  width: 40vw;
  font-size: 1.1rem;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem;
}


.searchBox::placeholder { 
  color: #2F8F9D;
}

.searchIcon{
  cursor: pointer;
  display: none;
}

.searchSpace {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  z-index:2;
  margin-top: 0.5rem;
  background-color: #2F8F9D;
  border-radius: 1rem;
}

.navParent{
  height: 100%;
  width: 25vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 1.5rem;
}

.menuText:hover{
  font-weight: bold;
}

.menuTextSelected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
}


.menuText:visited{
  color: white;
}

@media only screen and (max-width:768px){
  .headerDiv {
    position: sticky;
    z-index: 9999;
    top: 0;
    padding: 0 0.5rem;
  }
  .logo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
  }

  .mobileSearchDiv {
    background-color: #2F8F9D;
    position: absolute;
    width: 100%;
    min-height:7%;
  }

  .imageClass{
    object-fit:fill;
    width: 1.2rem;
    height: auto;
  }

  .mobileSearchInput {
    width: 100%;
    height: 7vh;
  }

  .mobileSearchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 7vh;
  }

  .mobileSearchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    padding: 0.4rem 0.2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
  }

  .searchDiv {
    height: 100%;
    justify-content: center;
    padding-right: 0;
  }
  
  .searchBox {
    display: none;
    text-align: center;
    color: #2F8F9D;
    font-size: 1.1rem;
    width: 35rem;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem;
    margin-right: 0.5rem;
  }
  
  .searchBox::placeholder { 
    color: #2F8F9D;
  }
  
  .searchIcon{
    cursor: pointer;
    display: inline;
    object-fit:fill;
    width: 1.1rem;
    height: auto;
  }
  
  .searchSpace {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    z-index:2;
    margin-top: 0.5rem;
    background-color: #2F8F9D;
    border-radius: 0;
  }  

  .navParent{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .menuText {
    width: 30%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
  }

  .menuTextSelected {
    font-size: 0;
    width: 30%;
    height: 100%;
    padding: 0;
    justify-content: center;
  }
}