.section{
  height: 95%;
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 0 1rem;
}

.main {
  height: 100%;
  width: 85%;
  padding-left: 0.2rem
}

.title {
  color: #2F8F9D;
  font-size: 1rem;
  font-weight: normal;
}

.productsList{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
}

.productCard{
  color: black;
  width: 14.5rem;
  height: 15rem;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid #EBEBED;
  padding: 0  0.2rem 0.3rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}


.productimage{
  object-fit: contain;
}

.productTitle{
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

.productPrice{
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.2rem;
}

@media only screen and (max-width:768px){
  .section{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0.3rem 0 0 0;
  }
  
  .main {
    min-height: 71vh;
    width: 100%;
    padding: 0;
  }
  
  .title {
    color: #2F8F9D;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
  }
  
  .productsList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
  }

 .productsList a:visited :hover :active{
    color:black;
  }

  .productCard{
    width: 47%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #EBEBED;
    padding: 0  0.2rem 0.3rem 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .productCard>a:visited{
    color: black;
  }


  
  .productimage{
    object-fit: contain;
  }
  
  .productTitle{
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100%);
    font-size: 1.1rem;
    padding-top: 0.2rem;
  }
  
  .productPrice{
    font-weight: bold;
    padding-top: 0.2rem;
    font-size: 1.2rem;
  }
}