.main {
  height: 91.2vh;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0 0;
  text-align: center;
}
.errorDiv{
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: red;
  padding: 0.6rem;
  margin-top: 1rem;
}

.title {
  color: #2F8F9D;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
}

.formStyle{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.fieldHead {
  color: #2F8F9D;
  margin-top: 0.8rem;
}

.categoryInput {
  text-align: center;
  color: black;
  font-size: 1.1rem;
  width: 100%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 0.5rem;
}

.adressDiv {
  width: 100%;
}

.adressDownDiv{
  float: left;
  width: 50%;
}

.adressSelect{
  text-align: center;
  color: black;
  font-size: 1.1rem;
  width: 95%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 0.5rem;
}

.imageDiv{
  width: 100%;
  height: 18vh;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  margin-top: 0.5rem;
  display: flex;
  flex-direction:row;
  align-items: center;
  overflow: auto;
}

.maxImages{
  color: grey;
  padding-top: 0.5rem;
}

.imageInput{
  display: none;
}

.customFileUpload{
  border: 0.2rem solid #2F8F9D;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #2F8F9D;
  display: inline-block;
  padding: 0.2rem 2rem;
  cursor: pointer;
  margin-top: 0.3rem;
}

.productimage{
  object-fit: contain;
}

.vitrinimage{
  position: absolute;
  z-index: 2;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.deleteimage{
  position: absolute;
  z-index: 2;
  margin-left: 9.5rem;
  margin-top: 0.2rem;
}

.priceInput{
  text-align: center;
  color: black;
  font-size: 1.1rem;
  width: 90%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 0.5rem;
}

.priceSelect{
  text-align: center;
  color: black;
  font-size: 1.1rem;
  width: 8%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-left: 0.5rem;
}

.saveButton{
  text-align: center;
  color: white;
  background-color: #2F8F9D;
  font-size: 1.5rem;
  width: 98%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 1rem;
  cursor: pointer;
}

.loaderDiv{
  font-size: 2rem;
  color: #2F8F9D;
}

.loader {
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #2F8F9D;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


@media only screen and (max-width:768px){
  .main {
    margin-top: 7vh;
    height: auto;
    max-height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    overflow: scroll;
  }
  
  .title {
    color: #2F8F9D;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fieldHead {
    color: #2F8F9D;
    margin-top: 0.3rem;
  }
  
  .categoryInput {
    text-align: center;
    color: black;
    font-size: 1.1rem;
    width: 80%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 0.3rem;
  }
  
  .adressDiv {
    width: 80%;
  }
  
  .adressDownDiv{
    float: left;
    width: 50%;
  }
  
  .adressSelect{
    text-align: center;
    color: black;
    font-size: 1.1rem;
    width: 95%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 0.5rem;
  }
  
  .imageDiv{
    max-width: 80%;
    height: 18vh;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    margin-top: 0.5rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    overflow: auto;
  }
  
  .maxImages{
    color: grey;
    padding-top: 0.1rem;
  }
  
  .imageInput{
    display: none;
  }
  
  .customFileUpload{
    border: 0.2rem solid #2F8F9D;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    color: #2F8F9D;
    display: inline-block;
    padding: 0.2rem 2rem;
    cursor: pointer;
    margin-top: 0.3rem;
  }
  
  .productimage{
    object-fit:contain;
  }
  
  .vitrinimage{
    position:absolute;
    z-index: 2;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  
  .deleteimage{
    position: absolute;
    z-index: 2;
    margin-left: 9.5rem;
    margin-top: 0.2rem;
  }
  
  .priceInput{
    text-align: center;
    color: black;
    font-size: 1.1rem;
    width: 70%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 0.5rem;
  }
  
  .priceSelect{
    text-align: center;
    color: black;
    font-size: 1.1rem;
    width: 20%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-left: 0.5rem;
  }
  
  .saveButton{
    text-align: center;
    color: white;
    background-color: #2F8F9D;
    font-size: 1.5rem;
    width: 79%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 1rem;
    cursor: pointer;
  }
}