.main {
  height: 91.2vh;
  width: 100%;
  float: left;
  padding: 1rem 0 0 3rem;
  text-align: center;
}

.title {
  color: #2F8F9D;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
}

.categoryTitle{
  color: #2F8F9D;
  text-align: start;
  font-weight: normal;
  font-size: 1.2rem;
}

.productList{
  width: 100%;
  height: 99%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
}

.productCard{
  width: 16%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid #EBEBED;
  padding: 0  0.2rem 0.3rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}


.productimage{
  object-fit: contain;
}

.productTitle{
  display: inline-block;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
  font-size: 1.1rem;
  padding-top: 0.2rem;
}

.productPrice{
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.2rem;
}