.main {
  height: 91.2vh;
  width: 100%;
  float: left;
  padding: 0;
}

.title{
  color: #2F8F9D;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.headText{
  width: 100%;
  height: 16rem;
  background-color: #2F8F9D;
  padding-top: 1rem;
  text-align: center;
  color: white;
}

.ilanlar{
  width: 100%;
  height: 38rem;
}

.butonGroup{
  display: flex;
  justify-content: center;

}

.mesajButton{
  color:#2F8F9D;
  background-color: white;
  font-size: 1.5rem;
  width: 30%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  float: left;
}

.callButton{
  color: #2F8F9D;
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  width: 30%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 1rem;
  cursor: pointer;
  float: left;
}

.productsList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
}

.productCard{
  width: 21.5rem;
  height: 18.5rem;
  flex-direction:column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid #EBEBED;
  padding: 0  0.2rem 0.3rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.productRight{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.productimage{
  object-fit: contain;
}

.productTitle{
  font-size: 1.1rem;
  padding-top: 0.8rem;
  font-weight: bold;
}

.productPrice{
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.8rem;
}


@media only screen and (max-width:768px){
  .main {
    height: 86vh;
    width: 100%;
    float: left;
    padding: 0;
  }
  
  .title{
    color: #2F8F9D;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .headText{
    width: 100%;
    height: 35vh;
    background-color: #2F8F9D;
    padding-top: 1rem;
    text-align: center;
    color: white;
  }
  
  .ilanlar{
    width: 100%;
    height: 51vh;
  }
  
  .butonGroup{
    display: flex;
    justify-content: center;
  }
  
  .mesajButton{
    color:#2F8F9D;
    background-color: white;
    font-size: 1.2rem;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 0;
    text-align: center;
    cursor: pointer;
    float: left;
  }
  
  .callButton{
    color: #2F8F9D;
    text-align: center;
    background-color: white;
    font-size: 1.2rem;
    width: 40%;
    border-radius:2rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    margin-top: 0;
    cursor: pointer;
    float: left;
  }
  
  .productsList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
  }
  
  .productCard{
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction:row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #EBEBED;
    padding: 0  0.2rem 0.3rem 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .productLeft{
    float: left;
    width: 30%;
    height: 100%;
  }
  
  .productRight{
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  
  .productimage{
    object-fit: contain;
  }
  
  .productTitle{
    font-size: 1rem;
    padding-top: 0.8rem;
    font-weight: bold;
  }
  
  .productPrice{
    font-weight: bold;
    padding-top: 0.2rem;
    font-size: 1.2rem;
  }

}