.main {
  height: 91.2vh;
  width: 85%;
  float: left;
  padding: 1rem 0 0 3rem;
}

.title {
  color: #2F8F9D;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.productsList{
  width: 100%;
  height: 99%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: auto;
}

.productCard{
  width: 44.5rem;
  height: 10rem;
  flex-direction:row;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid #EBEBED;
  padding: 0  0.2rem 0.3rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
}


.productLeft{
  float: left;
  width: 30%;

}

.productRight{
  float: left;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.productOwner{
  color: #2F8F9D;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.productimage{
  object-fit: contain;
}

.productTitle{
  font-size: 1.1rem;
  padding-top: 0.8rem;
  font-weight: bold;
}

.productPrice{
  font-weight: bold;
  padding-top: 0.2rem;
  font-size: 1.8rem;
}

.productAdress{
  padding-top: 1rem;
}

@media only screen and (max-width:768px){
  .main {
    height: 71vh;
    width: 100%;
    float: left;
    padding: 0;
  }
  
  .title {
    color: #2F8F9D;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .productsList{
    width: 100%;
    height: 99%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
  }
  
  .productCard{
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction:row;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #EBEBED;
    padding: 0  0.2rem 0.3rem 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .productLeft{
    float: left;
    width: 30%;
    height: 100%;
  }
  
  .productRight{
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .productOwner{
    color: #2F8F9D;
    padding-top: 0.3rem;
    font-size: 1rem;
  }
  
  .productimage{
    object-fit: contain;
  }
  
  .productTitle{
    font-size: 1rem;
    padding-top: 0.8rem;
    font-weight: bold;
  }
  
  .productPrice{
    font-weight: bold;
    padding-top: 0.2rem;
    font-size: 1.2rem;
  }
  
  .productAdress{
    padding-top: 0.1rem;
  }
}