.main {
  height: 93%;
  width: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productTitle {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  text-align: center;
}
.productSection{
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.contentSection {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetailDiv{
  width: 100%;
  padding: 0 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  text-transform: capitalize;
  align-items: center;
}

.productOwner{
  color: #2F8F9D;
}

.productDetailTitle{
  text-transform: capitalize;
  color: #4d4d4d;
}

.productDetailData{
  font-weight: bold;
}

.priceAndContactDiv{
  width: 16%;
  height: 20%;
  position:absolute;
  bottom: 2rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;

}

.buttonsGroup{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.productPrice{
  font-weight: bold;
  font-size: 3rem;
}

.mesajButton{
  color:#2F8F9D;
  background-color: white;
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  text-align: center;
  cursor: pointer;
}

.sorunVar{
  position: absolute;
  width: 95%;
  height: 88%;
  z-index: 88;
  background-color: rgba(153, 152, 152, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorunVarContent{
  width: 40%;
  height: 50%;
  background-color: #fff;
  border-radius: 3%;
  border: 0.2rem solid #2F8F9D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formStyle{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.fieldHead {
  color: #2F8F9D;
  margin-top: 0.3rem;
}

.categoryInput {
  text-align: center;
  color: black;
  font-size: 1.1rem;
  width: 80%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 0.3rem;
}

.saveButton{
  text-align: center;
  color: white;
  background-color: #2F8F9D;
  font-size: 1.5rem;
  width: 79%;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  margin-top: 1rem;
  cursor: pointer;
}

.sorunBildir{
  text-decoration: none;
  border: none;
  width: 80%;
  margin-top: 10%;
  color: #2F8F9D;
  font-size: 1.3rem;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.callButton{
  color: white;
  margin-top: 5%;
  text-align: center;
  background-color: #2F8F9D;
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  border-radius:2rem;
  border: 0.2rem solid #2F8F9D;
  padding: 0.3rem 0;
  cursor: pointer;
}

.sliderSection {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.photoArea {
  height: 100%;
  width: 80%;
  position: relative;
}

.leftbutton{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.719);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: #2F8F9D;
  left: 1rem;
}

.rightbutton{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.719);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: #2F8F9D;
  right: 1rem;
}

.photoDiv {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  border-radius: 1rem;
  object-fit:fill;
  width: auto;
  max-width: 95%;
  height: auto;
  max-height: 95%;
}


.smallPhotoArea {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.smallPhotoOne {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productSmallImage{
  cursor: pointer;
  border-radius: 0.5rem;
  object-fit:fill;
  width: auto;
  max-width: 90%;
  height: 90%;

}

@media only screen and (max-width:768px){
  .main {
    margin-top: 10vh;
    height: 80%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .productTitle {
    font-size: 1.6rem;
  }

  .productSection{
    flex-direction: column;
  }
  
  .contentSection {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .productDetailDiv{
    width: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    text-transform: capitalize;
  }
  
  .productOwner{
    color: #2F8F9D;
  }
  
  .productDetailTitle{
    color: #4d4d4d;
  }
  
  .productDetailData{
    font-weight:500;
  }
  
  .priceAndContactDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 10vh;
  
  }
  .buttonsGroup{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .productPrice{
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .mesajButton{
    color:#2F8F9D;
    background-color: white;
    font-size: 1.2rem;
    width: 45%;
    height: auto;
    border-radius:1rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    text-align: center;
    cursor: pointer;
  }
  
  .callButton{
    margin-top: 0;
    color: white;
    text-align: center;
    background-color: #2F8F9D;
    font-size: 1.2rem;
    width: 51%;
    height: auto;
    border-radius:1rem;
    border: 0.2rem solid #2F8F9D;
    padding: 0.3rem 0;
    cursor: pointer;
  }
  
  .sliderSection {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .photoArea {
    height: 100%;
    width: 80%;
    position: relative;
  }
  
  .leftbutton{
    font-size: 2rem;
    left:0;
    padding: 0.6rem 1rem;
  }
  
  .rightbutton{
    font-size: 2rem;
    right:0;
    padding: 0.6rem 1rem;
  }
  
  .photoDiv {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productImage {
    border-radius: 1rem;
    object-fit:fill;
    width: auto;
    max-width: 95%;
    height: auto;
    max-height: 95%;
  }
  
  
  .smallPhotoArea {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .smallPhotoOne {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .productSmallImage{
    cursor: pointer;
    border-radius: 0.5rem;
    object-fit:fill;
    width: auto;
    max-width: 90%;
    height: 90%;
  
  }
  
}